<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Bryan Molina</title>
    <link rel="icon" type="image/png" href="/static/img/min.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/watch/css/watch.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/watch/js/watch.min.js"></script>




</title>

    <style>
        @media (max-width:768px){.centrarMin{text-align: center}}
    </style>


</head>
<body >



<div class="navbar navbar-default navbar-fixed-top">
      <div class="container" >

        <div class="navbar-header">
          <a href="/" class="navbar-brand">Bryan Molina</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#profile"><span class="glyphicon glyphicon-user"></span>&nbsp;Profile</a>
            </li>
           <!-- <li>
              <a href="#skills"><span class="glyphicon glyphicon-star"></span>&nbsp;Skills</a>
            </li>
            <li>
              <a href="#work"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Work</a>
            </li>
            <li>
              <a href="#resume"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;Resume</a>
            </li>-->


          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="modal" ><span class="glyphicon glyphicon-envelope"></span>&nbsp;CONTACT</a></li>
          </ul>

        </div>
      </div>
    </div>

<div class="first" id="profile">
    <div class="container">
        <div class="row" >
            <br/><br/><br/>
            <div class="col-md-1" align="center"></div>
            <div class="col-md-5" align="center">
                <img  class="img-responsive img-circle image" src="/static/img/user2.jpg" alt=""/>
            </div>

            <div class="col-md-6" >

                <p class="names centrarMin">Bryan Kevin</p>
                <p class="names centrarMin">Molina Montero</p>
                <hr/>
                <p class="subnames  centrarMin">
                    FULL STACK DEVELOPER
                </p>
                <hr/>
                <p class="description centrarMin">
                    Hola, soy Bryan Molina, programador de aplicaciones de escritorio, desarrollador WEB y desarrollador de aplicaciones móviles.
                    <br/>
                    Estudiante del último año de Ingeniería de Sistemas
                    <br/>
                    Apasionado por la tecnología y todo lo que se pueda programar.
                </p>
            </div>
        </div>
            <!--
            <div class="row">
                <div class="col-sm-3"></div>
                    <div class="col-sm-1">
                        <img class="img-responsive img-circle"src="/static/img/icons/Facebook.png" alt=""/>
                    </div>
                    <div class="col-sm-1">
                        <img class="img-responsive img-circle"src="/static/img/icons/Twitter.png" alt=""/>
                    </div>
                    <div class="col-sm-1">
                        <img class="img-responsive img-circle"src="/static/img/icons/Instagram.png" alt=""/>
                    </div>
                    <div class="col-sm-1">
                        <img class="img-responsive img-circle"src="/static/img/icons/Google-plus.png" alt=""/>
                    </div>
                    <div class="col-sm-1">
                        <img class="img-responsive img-circle"src="/static/img/icons/Flickr.png" alt=""/>
                    </div>
                    <div class="col-sm-1">
                        <img class="img-responsive img-circle"src="/static/img/icons/Github.png" alt=""/>
                    </div>
                <div class="col-sm-3"></div>



                </div>
                -->


    </div><!---containter-->
    <br/>

    <div class="container" align="center">

        <div class="row" align="center">
            <div class="col-sm-1"></div>
            <div class="contenedor_imagen_texto col-sm-1">
                <a href="http://www.facebook.com/bryanmolina91/" target="_blank"><img class="ismg-responsive img-circle image2" src="/static/img/icons/Facebook.png"></a>
            </div>


            <div class="contenedor_imagen_texto col-sm-1">
                <a href="http://www.twitter.com/bryanux/" target="_blank"><img class="img-circle image2" src="/static/img/icons/Twitter.png"></a>
            </div>

            <div class="contenedor_imagen_texto col-sm-1">
                <a href="http://www.instagram.com/bryanmolina_/" target="_blank"><img class="img-circle image2" src="/static/img/icons/Instagram.png"></a>
            </div>


            <div class="contenedor_imagen_texto col-sm-1">
                <a href="https://plus.google.com/u/0/+BryanMolina91/" target="_blank"><img class="img-circle image2" src="/static/img/icons/Google-plus.png"></a>
            </div>

            <div class="contenedor_imagen_texto col-sm-1">
                <a href="https://www.flickr.com/photos/101160221@N04/" target="_blank"><img class="img-dresponsive img-circle image2" src="/static/img/icons/Flickr.png"></a>
            </div>


            <div class="contenedor_imagen_texto col-sm-1">
                <a href="http://github.com/bryanux/" target="_blank"><img class="img-rdesponsive img-circle image2" src="/static/img/icons/Github.png"></a>
            </div>



        <div class="col-sm-3"></div>
    </div>
    </div>


</div><!--primer div-->

<!--

<div class="second" id="skills">
    <div class="container">
        <div align="center" class="row">
            <div class="col-xs-12"><h1>MIS DESTREZAS</h1></div>
        </div>
        <hr/>
    <div class="row">

        <div class="col-md-3">
            <H1>PROGRAMACIÓN</H1>


        </div>
        <div class="col-md-3">Alias assumenda commodi eaque error et iure libero minus nemo, possimus quisquam repellat
            suscipit, temporibus! Animi aut consectetur, expedita facilis illum iusto magnam magni necessitatibus
            nostrum pariatur perferendis quidem, saepe.
        </div>
        <div class="col-md-3">Ab accusamus accusantium assumenda earum inventore iste, iure necessitatibus neque
            obcaecati perferendis, placeat, quam quas quisquam quos rerum vitae voluptas. Adipisci corporis illum magni
            officiis quas quos repellat sequi voluptatibus.
        </div>
        <div class="col-md-3">Assumenda atque corporis, dolor eaque eius enim facere illo incidunt ipsam iste laudantium
            natus nemo, nesciunt placeat quae quod, recusandae rem sapiente sunt tempora veritatis vero voluptate.
            Culpa, dolorum sit!
        </div>


    </div>

   </div>

</div>-->
<script>
    jQuery(document).ready(function(){

	$('a[href*=#]').click(function() {
		 if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
 		&& location.hostname == this.hostname) {
   var $target = $(this.hash);
   $target = $target.length && $target
   || $('[name=' + this.hash.slice(1) +']');
   if ($target.length) {
  	var targetOffset = $target.offset().top;
  	$('html,body')
  	.animate({scrollTop: targetOffset}, 800);
    return false;
   }
 }
  });
});
</script>
</body>
</html>