@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700);

.first{
    background-image:url("/static/img/dark_wood2.png");
    padding-top: 20px;
}

.image{
    border-width: 8px;
    border-style: solid;
    border-color:#30AF94;
    margin-top: 20px;
}

.image2{
    border-width: 5px;
    border-style: solid;
    border-color:#ffffff;

}

.names{
    font-family: 'Gentium Basic', serif;
    text-align: left;
    font-size: 53px;
    font-weight: bold;
    color:#FFFEFE;
    line-height: 50px;
}


.subnames{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color:#ffffff;
}

.description{
    color:#ffffff;
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
    margin-top: 30px;
}
.well {

}

.second{
    background-color: #ffffff;

}


.contenedor_imagen_texto{

display:inline-block;
margin-bottom: 30px;
margin-right: 15px;
margin-left: 30px;
}
